exportClasses(mftable)
export(mftable, xts, xte, xtr, xtc, xtp, xta, xtl, xth, ltx, expected, '%regex%', subset)
S3method(xts, mftable)
S3method(xts, ftable)
S3method(xts, matrix)
S3method(xte, mftable)
S3method(xte, matrix)
S3method(xtr, mftable)
S3method(xtc, mftable)
S3method(xtp, mftable)
S3method(xta, mftable)
S3method(xta, ftable)
S3method(xta, matrix)
S3method(xta, table)
S3method(xtl, mftable)
S3method(xtl, matrix)
S3method(xth, mftable)
S3method(xth, ftable)
import('methods', 'R2HTML')

